/* здесь используйте глобальные переменные */
$base-color-text: #444444;
$secondary-color-text: #000000;
$bg-basic-green: #68b738;
$bg-basic-grey: #eaeaea;
$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1440px;
$primary-background-color: #ffffff;
