.catalog__list {
  display: grid;
  grid-template-columns: 320px;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 314px);
    gap: 60px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 245px);
    gap: 63px 80px;
  }
}

.catalog__item {
  text-decoration: none;
}

.catalog__title {
  font-family: $primary-font;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #000000;
}
