.location {
  overflow-wrap: break-word;
  position: relative;

  @media (min-width: $desktop-width) {
    margin-top: -62px;
  }
}

.location--catalog {
  background-color: #f2f2f2;
}

.location__container {
  position: relative;
  padding-bottom: 362px;

  @media (min-width: $tablet-width) {
    padding-bottom: 400px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 95px;
    padding-bottom: 106px;
  }
}

.location__text-wrapper {
  display: grid;
  align-content: center;
  padding-top: 6px;
  padding-bottom: 26px;
  grid-template-columns: repeat(2, 140px);
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    padding: 32px 40px 60px 40px;
    grid-template-columns: repeat(2, 165px);
  }

  @media (min-width: $desktop-width) {
    position: relative;
    padding: 60px 70px 60px 80px;
    width: 416px;
    background-color: $primary-background-color;
    z-index: 2;
  }
}

.location__invit {
  font-family: $primary-font;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
  }
}

.location__address {
  line-height: 20px;
  font-style: normal;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.location__address-city {
  @media (min-width: $tablet-width) {
    display: block;
    padding-top: 19px;
  }
}

.location__map {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 362px;
  background-image:
    image-set(
    url("../../images/map-m@1x.png") type("image/png") 1x,
    url("../../images/map-m@2x.png") type("image/png") 2x
  );
  background-color: $bg-basic-grey;
  background-size: cover;
  background-repeat: no-repeat;

  &::before {
    content: "";
    position: absolute;
    width: 57px;
    height: 53px;
    left: 50%;
    transform: translateX(-50%);
    top: 139px;
    background-image:
      image-set(
      url("../../images/map-pin@1x.png") type("image/png") 1x,
      url("../../images/map-pin@2x.png") type("image/png") 2x
    );
    background-size: contain;
    background-repeat: no-repeat;
  }

  @media (min-width: $tablet-width) {
    height: 400px;
    background-image:
      image-set(
      url("../../images/map-t@1x.png") type("image/png") 1x,
      url("../../images/map-t@2x.png") type("image/png") 2x
    );

    &::before {
      width: 113px;
      height: 106px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-image:
        image-set(
        url("../../images/map-pin-t@1x.png") type("image/png") 1x,
        url("../../images/map-pin-t@2x.png") type("image/png") 2x
      );
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  @media (min-width: $desktop-width) {
    background-image:
      image-set(
      url("../../images/map-d@1x.png") type("image/png") 1x,
      url("../../images/map-d@2x.png") type("image/png") 2x
    );
    height: 100%;

    &::before {
      top: 130px;
      transform: none;
      left: 50%;
    }
  }
}

.location__map iframe {
  width: 100%;
  height: 100%;
}
