.main-footer {
  background-color: #f2f2f2;
}

.main-footer__main {
  display: flex;
  flex-shrink: 0;
}

.main-footer__wrapper {
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 19px;

  @media (min-width: $tablet-width) {
    padding-top: 56px;
    padding-bottom: 55px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    max-width: 1220px;
    padding: 66px 55px;
  }
}

.main-footer__logo-footer {
  &:hover {
    opacity: 0.8;
  }

  &:focus {
    opacity: 0.6;
  }
}

.main-footer__social-list {
  display: flex;
  flex-wrap: wrap;
  gap: 12px 24px;
  list-style: none;
  justify-content: center;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  padding: 18px 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    padding: 0;
    border: 0;
    padding-left: 153px;
  }
}

.main-footer__social-link {
  fill: #666666;

  &:hover {
    fill: $bg-basic-green;
  }

  &:focus {
    fill: $bg-basic-green;
    opacity: 0.3;
  }
}

.main-footer__logo-academy-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 280px;
  color: $base-color-text;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-decoration: none;
  fill: #666666;

  &:hover {
    fill: $bg-basic-green;
  }

  &:focus {
    fill: $bg-basic-green;
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    gap: 23px;
    justify-content: end;
  }
}

.main-footer__academy-title {
  margin: 0;
}
