.main-nav {
  font-family: $primary-font;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #ffffff;

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: end;
    width: 590px;
    background: none;
  }
}

.main-nav__toggle {
  position: absolute;
  top: 18px;
  right: 21px;
  z-index: 2;
  display: block;
  width: 24px;
  height: 24px;
  background-color: transparent;
  cursor: pointer;
  border: none;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 0;
  width: 24px;
  height: 2px;
  background-color: #000000;
  box-shadow: 0 8px 0 0 #000000, 0 16px 0 0 #000000;
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed .nav-list__item {
    display: none;
  }
}

.main-nav--close .main-nav__list {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.main-nav--opened .main-nav__toggle {
  top: 28px;
  right: 28px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 2px;
    left: 7px;
    width: 24px;
    height: 2px;
    background-color: #000000;
  }

  &::before {
    transform: rotate(-45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(45deg);
  }
}

.main-nav__wrapper {
  text-align: center;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: 460px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    width: 590px;
    justify-content: flex-end;
  }
}

.main-nav__list {
  list-style: none;
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}
